apiVersion: apps/v1
kind: Deployment
metadata:
  name: geocoder-deployment
spec:
  template:
    spec:
      containers:
        - name: geocoder
          imagePullPolicy: IfNotPresent
          envFrom:
            - secretRef:
                name: geocoder-env-prod
