apiVersion: apps/v1
kind: Deployment
metadata:
  name: geocoder-deployment
  labels:
    app: geocoder-deployment
spec:
  selector:
    matchLabels:
      app: geocoder-deployment
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: geocoder-deployment
    spec:
      containers:
        - name: geocoder
          image: ghcr.io/dbca-wa/geocoder
          imagePullPolicy: Always
          env:
            - name: ALLOWED_HOSTS
              value: '.dbca.wa.gov.au'
            - name: TZ
              value: 'Australia/Perth'
          resources:
            requests:
              memory: '100Mi'
              cpu: '5m'
            limits:
              memory: '2Gi'
              cpu: '1000m'
          startupProbe:
            httpGet:
              path: /livez
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 3
            periodSeconds: 15
            timeoutSeconds: 10
            successThreshold: 1
            failureThreshold: 3
          livenessProbe:
            httpGet:
              path: /livez
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 0
            periodSeconds: 15
            successThreshold: 1
            failureThreshold: 3
            timeoutSeconds: 10
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 0
            periodSeconds: 15
            successThreshold: 1
            failureThreshold: 3
            timeoutSeconds: 10
          securityContext:
            runAsNonRoot: true
            runAsUser: 1000
            privileged: false
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            readOnlyRootFilesystem: true
          volumeMounts:
            - mountPath: /tmp
              name: tmpfs-ram
      volumes:
        - name: tmpfs-ram
          emptyDir:
            medium: 'Memory'
      restartPolicy: Always
      terminationGracePeriodSeconds: 180
      automountServiceAccountToken: false
